<extend name="_Layout/main"/>

<block name="style">
    <style type="text/css">
        /* 文章列表样式 */
        .article-list .media {
            padding-top: 10px;
            border-top: 1px solid #eee;
        }
        .article-list .list-cover{
            width: 180px;
            height: 100px;
        }
        .article-list .list-title{
            margin-top: 6px;
        }
        .article-list .list-abstract{
            height: 42px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        @media (max-width: 768px) {
            .article-list .list-title{
                font-size: 14px;
                margin: 0px;
            }
            .article-list .list-cover{
                width: 90px;
                height: 66px;
            }
            .article-list .list-info {
                font-size: 10px;
                margin-top: 3px !important;
                margin-bottom: 2px !important;
            }
            .article-list .list-abstract{
                height: 36px;
                font-size: 12px;
            }
        }
    </style>
</block>

<block name="main">
   <div class="nrcx">
            	<div class="nrcx_top"><p>消费记录列表</p></div>
                
                <div class="zclb">
                	<table cellpadding="0" cellspacing="0" class="zclb1">
                        
                        <tr>
                        	<td colspan="6" class="pt1">
							<form action="" method="get">
							<input type="hidden" name="act" value="" id="output" />
                            按<select><option value="">商家编号</option></select><input name="username" type="text" /><input type="submit" value="查询" onclick="$('#output').val(0)" style="width:41px; height:27px; background:url(__PUBLIC__/images/cz.jpg) no-repeat; border:none;font-size:14px; color:#fff;"/>&nbsp;<input type="submit" value="导出表单" onclick="$('#output').val(1)" style="width:101px; height:28px; background:url(__PUBLIC__/images/dc.jpg) no-repeat; border:none;font-size:14px; color:#000;"/>
							</form>
                            </td>
                        </tr>
                    </table>
                    
                    <table cellpadding="0" cellspacing="0" class="biao1" style="border-collapse:collapse;">
                    	<tr>
                        	<th>序号</th>
                            <th>商家编号</th>
                            <th>商家名称</th>
                            <th>负责人姓名</th>
                            <th>联系电话</th>
                            <th>注册会员数</th>
                            <th>累计积分</th>
                        </tr>
                        
						
						
						 <volist name="volist" id="vo" empty="$empty">
						 
						 <tr>
                        	<td>{$i}</td>
                            <td>{$vo.username}</td>
                            <td>{$vo.platform}</td>
                            <td>{$vo.realname}</td>
                            <td>{$vo.servicetel}</td>
                            <td>{$vo.memebers}</th>
                            <td>{$vo.jifen}</td>
                        </tr>

                        </volist>
						
						
						
						
						
						
                        
                        
                        
                        
                    </table>
                    <div class="fy">
                    	<p>{$page}</p>
                    </div>
                </div>
            </div>
</block>
