<extend name="_Layout/main_login"/>

<block name="style">
    <style type="text/css">
        .body-user-login .background {
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: 0px;
            left: 0px;
            background: #2472b4;
        }
        .body-user-login .login-panel {
            margin-top: 5%;
        }
        .body-user-login .login-panel .panel-heading {
            height: 150px;
            background: transparent;
        }
        .body-user-login .login-panel .panel-heading .panel-title {
            color: #fff;
            font-size: 32px;
            padding-top: 30px;
            padding-bottom: 5px;
            font-weight: lighter;
        }
        .body-user-login .login-panel .panel-heading .panel-title .logo {
            height: 60px;
            margin-top: -10px;
        }
        .body-user-login .login-panel .panel-heading .info {
            margin-top: 18px;
        }
        .body-user-login .login-panel .panel-body {
            padding: 20px;
        }
        .body-user-login .login-panel .panel-body .input-group input {
            height: 40px;
        }
        .body-user-login .login-panel .panel-body .input-group .input-group-addon .fa {
            width: 18px;
        }
        .body-user-login .login-panel .panel-body .input-group .verifyimg-box {
            padding: 0px;
        }
        .body-user-login .login-panel .panel-body .input-group .verifyimg-box .verifyimg {
            width: 138px;
            height: 38px;
            cursor: pointer;
            border-radius: 4px;
        }
        .body-user-login .bottom {
            margin-bottom: 10px;
            color: #eee;
            font-size: 12px;
        }
        .body-user-login .bottom a {
            color: #eee;
        }
        @media (max-width: 768px) {
            .body-user-login .login-panel .panel-body {
                padding: 15px 0px;
            }
        }
    </style>
</block>

<block name="main">
  	<div class="qy">
        	<div class="qyn">
			 <form class="login-form" action="{:U('')}" method="post">
            	<table cellpadding="0" cellspacing="">
                	<tr>
                    	<td>用户名</td>
                        <td><input type="text" value="" style="background:url(__PUBLIC__/images/a1.png) no-repeat 10px 10px; background-color:#FFF;" placeholder="" name="username"/></td>
                        <td>密码</td>
                        <td><input type="password" value="" style="background:url(__PUBLIC__/images/a2.png) no-repeat 10px 10px; background-color:#FFF;"  placeholder="" name="password"/></td>
                        <td>验证码</td>
                        <td><input type="text" value="" style="width:120px;" /></td>
                        <td><a href=""><img src="{:U('verify')}"  height="36" /></a></td>
                        <td><input type="submit" value="登陆" style=" background:url(__PUBLIC__/images/zc.jpg) no-repeat; border:none;width:116px; height:41px; color:#FFF; font-size:18px;" /></td>
                    </tr>
                </table>
			 </form>
            </div>
        </div>


</block>
