<extend name="_Layout/main"/>

<block name="style">
    <style type="text/css">
        /* 文章列表样式 */
        .article-list .media {
            padding-top: 10px;
            border-top: 1px solid #eee;
        }
        .article-list .list-cover{
            width: 180px;
            height: 100px;
        }
        .article-list .list-title{
            margin-top: 6px;
        }
        .article-list .list-abstract{
            height: 42px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        @media (max-width: 768px) {
            .article-list .list-title{
                font-size: 14px;
                margin: 0px;
            }
            .article-list .list-cover{
                width: 90px;
                height: 66px;
            }
            .article-list .list-info {
                font-size: 10px;
                margin-top: 3px !important;
                margin-bottom: 2px !important;
            }
            .article-list .list-abstract{
                height: 36px;
                font-size: 12px;
            }
        }
    </style>
</block>

<block name="main">
<!--员工信息开始-->
            <div class="nrcx">
            	<div class="nrcx_top"><p>积分申请</p></div>
                
                <div class="zclb">
                	<table cellpadding="0" cellspacing="0" class="zclb1">
                    	<tr>
                        	<td >当日新增业绩</td>
                            <td><input type="text" value="{$dtotal}" readonly /></td>
                            <td>&nbsp;&nbsp;月累计新增业绩</td>
                            <td><input type="text" value="{$mtotal}" readonly /></td>
                            <td>&nbsp;&nbsp;总累计新增业绩</td>
                            <td><input type="text" value="{$total}" readonly /></td>
                        </tr>
                        
                        <tr>
                        	<td colspan="6" class="pt1">
                            <form action="" method="get">
							<input type="hidden" name="act" value="" id="output" />
							
							按<select><option value="">用户名称</option></select><input type="text" name="realname" /><input type="submit" value="查询" onclick="$('#output').val(0)" style="width:41px; height:27px; background:url(__PUBLIC__/images/cz.jpg) no-repeat; border:none;font-size:14px; color:#fff;"/>&nbsp;从<input type="text" name="starttime" id="demo" style="width:90px;" />&nbsp;到<input type="text" id="demo2" name="endtime" style="width:90px;"/><input type="submit" onclick="$('#output').val(0)" value="查询" style="width:41px; height:27px; background:url(__PUBLIC__/images/cz.jpg) no-repeat; border:none;font-size:14px; color:#fff;"/><input type="submit" value="导出表单" onclick="$('#output').val(1)" style="width:101px; height:28px; background:url(__PUBLIC__/images/dc.jpg) no-repeat; border:none;font-size:14px; color:#000;"/></form>
                            </td>
                        </tr>
                    </table>
                    
                    <table cellpadding="0" cellspacing="0" class="biao1" style="border-collapse:collapse; margin-top:55px;">
                    	<tr>
                        	<th>序号</th>
                            <th>用户编号</th>
                            <th>用户名称</th>
                            <th>申请金额</th>
                            <th>申请时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        
						<volist name="volist" id="vo" empty="$empty">
						 
						 <tr>
                        	<td>{$i}</td>
                        	<td>{$vo.username}</td>
                            <td>{$vo.mingcheng}</td>
                            <td>{$vo.money}</td>
                            <td>{$vo.addtime|time_format='Y-m-d'}</td>
                            <td><input  type="button" value="<if condition="$vo[status] eq 1 ">已处理<else />未处理</if>" style=" background:#00a3ec;width:50px; border:none; color:#fff;" /></td>
                            <td><input type="button" id="subshenqin" rel="{$vo.id}"


<if condition="$vo[status] eq 1 ">value="充值成功" disabled <else />value="充值"</if> onclick="$(this).val('充值成功');$(this).attr('disabled','disabled')"


							 style=" background:url(__PUBLIC__/images/dc.jpg) no-repeat;width:101px;  height:28px;  border:none; color:#000;" />&nbsp;<input type="submit" value="冻结" style="background:url(__PUBLIC__/images/dc.jpg) no-repeat;width:101px;  height:28px; border:none; color:#000;"/></td>
                        </tr>

                        </volist>
						
					
                    </table>
                    <div class="fy">
                    	<p>{$page}</p>
                    </div>
                </div>
            </div>
            <!--员工信息开始-->
<script>
$(function(){

	$("input#subshenqin").click(function(){
	
		var sid=$(this).attr("rel");
		
		$.post("{:U('Home/Finance/f2222')}",{act:"edit",id:sid}, function(data){
			if(data){
				alert("充值成功");
				window.location.reload();
			}else{
				alert("充值成功，无需重复提交");
			}
		});
		
		
	
	} )


})
</script>



</block>
