<extend name="_Layout/main"/>

<block name="style">
    <style type="text/css">
        /* 文章列表样式 */
        .article-list .media {
            padding-top: 10px;
            border-top: 1px solid #eee;
        }
        .article-list .list-cover{
            width: 180px;
            height: 100px;
        }
        .article-list .list-title{
            margin-top: 6px;
        }
        .article-list .list-abstract{
            height: 42px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        @media (max-width: 768px) {
            .article-list .list-title{
                font-size: 14px;
                margin: 0px;
            }
            .article-list .list-cover{
                width: 90px;
                height: 66px;
            }
            .article-list .list-info {
                font-size: 10px;
                margin-top: 3px !important;
                margin-bottom: 2px !important;
            }
            .article-list .list-abstract{
                height: 36px;
                font-size: 12px;
            }
        }
    </style>
</block>

<block name="main">
<!--员工信息开始-->
            <div class="nrcx">
            	<div class="nrcx_top"><p>商家泽百币充值</p></div>
                
                <div class="zclb">
					
                	<table cellpadding="0" cellspacing="0" class="sjjf" style="height:140px">
                    	<form method="post" action="">
						<input type="hidden" name="act" value="search" />
						<tr>
                        	<td >商家用户名</td>
                            <td><input type="text" name="username" value="{$info.username}" style="width:260px" /></td>
                            <td>&nbsp;&nbsp;</td>
                            <td class="sub"><input type="submit" value="查询" style="width:101px; height:30px; margin-right:15px;  font-size:16px; color:#fff;" /></td>
                        </tr>
                        </form>
						<form method="post" action="">
						<input type="hidden" name="act" value="chongzhi" />
						<input type="hidden" name="username" value="{$info.username}" />
                        <tr>
                        	<td >泽百币余额</td>
                            <td><input type="text" name="" readonly style="width:260px" value="{$info.zebaib}"/></td>
                            <td>&nbsp;&nbsp;购买数量</td>
                            <td><input type="text" name="number" style="width:260px"/></td>
                        </tr>
                        
                       
                        
                        <tr>
                        	<td colspan="2" class="sub"><input type="submit" value="提交" style="width:101px; height:30px; margin-right:15px; float:right; font-size:16px; color:#fff;" /></td>
                            <td colspan="2" class="sub" align="left"><input type="reset" value="重置" style="width:101px; height:30px; float:left; font-size:16px; color:#fff; margin-left:15px;" /></td>
                        </tr>
						 </form>
                    </table>
                    
                    <table cellpadding="0" cellspacing="0" class="biao1" style="border-collapse:collapse;min-height:40px">
                    	<tr>
                        	<th>序号</th>
                            <th>商家用户名</th>
                            <th>购买数量</th>
                            <th>泽百币余额</th>
                            <th>添加时间</th>
                            <th>确认时间</th>
                            <th>状态</th>
                        </tr>
                         <volist name="volist" id="vo" empty="$empty">
						 
						 <tr>
                        	<td>{$i}</td>
                            <td>{$vo.suname}</td>
                            <td>{$vo.number}</td>
                            <td>{$vo.yue}</th>
                            <td>{$vo.add_time|time_format='Y-m-d'}</td>
                            <td><if condition="$vo[confirm_time] neq '' ">{$vo.confirm_time|time_format='Y-m-d'}</if></td>
                            <td><input type="button" value="<if condition="$vo[status] eq 1 ">已确认<else />未确认</if>" style=" background:#00a3ec;width:50px; border:none; color:#fff;" /></td>
                        </tr>

                        </volist>

                        
                     

                    </table>
                    <div class="fy">
                    	<p>{$page}</p>
                    </div>
                </div>
            </div>
            <!--员工信息开始-->


</block>
