<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/style.css" type="text/css" rel="stylesheet" />
<block name="title"><title>{$meta_title}｜{:C('WEB_SITE_TITLE')}－{:C('WEB_SITE_SLOGAN')}</title></block>
</head>

<body>

<div class="xt" style="background:url(__PUBLIC__/images/qybj.jpg) no-repeat center;">
	<!--内容快开始-->
	<block name="main">这里是内容</block>
  
	<!--内容快结束-->
</div>

</body>
</html>


